# jupyter checkpoints
.ipynb_checkpoints/

# data
data/
Workspace/

# cache file
__pycache__/

# train process
logs/
Segmentor/
Segmentation/
AdvSeg/
train_process/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
